[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
python-json-logger = "*"
pytest-html = "*"
pytest-xdist = "*"
pre-commit = "*"
assertpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
